<% include ../partials/header %>

  <body id="page-top" class="sidebar-toggled">

    <% include ../partials/navbar %>

    <div id="wrapper" class="bg-slovak">

      <% include ../partials/sidebar %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/users/<%= username %>/dashboard/">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/users/<%= username %>/dashboard/categories">Categories</a>
            </li>
            <li class="breadcrumb-item active"><%= categoryName %></li>
          </ol>

          <!-- Flash Messages -->
          <% if (flashSuccess && flashSuccess.length > 0) { %>
            <div id="successMessage">
              <div class="alert alert-success" role="alert">
                <%= flashSuccess %>
              </div>
            </div>
          <% } %>
          <% if (flashError && flashError.length > 0) { %>
            <div id="errorMessage">
              <div class="alert alert-danger" role="alert">
                <%= flashError %>
              </div>
            </div>
          <% } %>
          
          <!-- Vocabulary Table -->
          <div class="card mb-3 bg-info">
            <div class="card-header category-header d-flex justify-content-between align-items-center">
              <div>
                <i class="fas fa-table"></i>
                <%= categoryName %>
              </div>
              <div>
                <!-- Large screens: display the button -->
                <button class="btn btn-primary d-none d-md-inline-block btn-quiz" onclick="showConfirmationModal('<%= categoryKey %>')">Create Quiz for This Category</button>
                <!-- Medium to small screens: display the icon -->
                <button class="btn btn-primary d-md-none btn-quiz" onclick="showConfirmationModal('<%= categoryKey %>')">
                  <i class="fas fa-list"></i>
                </button>
              </div>
            </div>

            <!-- Modal for confirmation -->
            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Quiz Creation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to create a quiz for this category?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal danger-gradient" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary btn-modal primary-gradient" id="confirmButton">Yes</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="progress-wrapper">
              <div class="progress" style="height: 25px;">
                <div class="progress-bar bg-success position-relative" role="progressbar" style="width: <%= (categoryStats.completed / (categoryStats.completed + categoryStats.inProgress + categoryStats.notCompleted) * 100).toFixed(2) %>%" aria-valuenow="<%= categoryStats.completed %>" aria-valuemin="0" aria-valuemax="100">
                  <% if (categoryStats.completed > 0) { %>
                    <span class="progress-text"><%= categoryStats.completed %></span>
                  <% } %>
                </div>
                <div class="progress-bar bg-warning position-relative" role="progressbar" style="width: <%= (categoryStats.inProgress / (categoryStats.completed + categoryStats.inProgress + categoryStats.notCompleted) * 100).toFixed(2) %>%" aria-valuenow="<%= categoryStats.inProgress %>" aria-valuemin="0" aria-valuemax="100">
                  <% if (categoryStats.inProgress > 0) { %>
                    <span class="progress-text"><%= categoryStats.inProgress %></span>
                  <% } %>
                </div>
                <div class="progress-bar bg-danger position-relative" role="progressbar" style="width: <%= (categoryStats.notCompleted / (categoryStats.completed + categoryStats.inProgress + categoryStats.notCompleted) * 100).toFixed(2) %>%" aria-valuenow="<%= categoryStats.notCompleted %>" aria-valuemin="0" aria-valuemax="100">
                  <% if (categoryStats.notCompleted > 0) { %>
                    <span class="progress-text"><%= categoryStats.notCompleted %></span>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>English</th>
                      <th>Slovak</th>
                      <th>Attempts</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>English</th>
                      <th>Slovak</th>
                      <th>Attempts</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% for (var i = 0; i < category.length; i++) { %>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><%= category[i].english %></td>
                        <td>
                          <% category[i].slovak.forEach(function (word) { %>
                              <%= word %> <button onclick="responsiveVoice.speak('<%= word %>', 'Slovak Female')" class="icon-button voice-button"><i class="fas fa-volume-up"></i></button><br>
                          <% }); %>  
                        </td>
                        <td><%= categoryStats.vocabDetails[i].attempts %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
          </div>
          <div class="text-left my-auto"><a href="https://responsivevoice.org">ResponsiveVoice-NonCommercial</a> licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img title="ResponsiveVoice Text To Speech" src="https://responsivevoice.org/wp-content/uploads/2014/08/95x15.png" alt="95x15" width="95" height="15" /></a></div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Slovak Lingo 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Hidden form to generate the quiz -->
    <form id="quizForm" method="POST" action="/generate-quiz">
      <input type="hidden" name="numOfQuestions" value="10">
      <input type="hidden" name="categories[<%= categoryKey %>]" value="<%= categoryKey %>">
    </form>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <% include ../partials/logout-modal %>
    
    <!-- Start Test Modal-->
    <% include ../partials/start-modal %>

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <!-- Page level plugin JavaScript-->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/javascripts/sb-admin.js"></script>

    <!-- Pronunciation script-->
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=<%= voiceKey %>"></script>

    <script>
      function showConfirmationModal(category) {
        // Store the category in a data attribute to use it later
        $('#confirmButton').data('category', category);
        $('#confirmationModal').modal('show');
      }

      $(document).ready(function() {
        $('#confirmButton').click(function() {
          const category = $(this).data('category');
          createQuiz(category);
        });
      });

      function createQuiz(category) {
        // Update the hidden form input with the correct category
        const form = $('#quizForm');
        form.find('input[name="categories[' + category + ']"]').val(category);
        form.submit();
      }
    </script>

  </body>

</html>