<% include ../partials/header %>

  <body id="page-top" class="sidebar-toggled answerBody">

    <% include ../partials/navbar %>

    <div id="wrapper" class="bg-slovak">

      <% include ../partials/sidebar %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/users/<%= currentUser.username %>/dashboard/">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Answer</li>
          </ol>

          <!-- Page Content -->
            <div class="text-center mb-4">
              <div class="row justify-content-end">
                <div class="col-lg-4 col-xs-6">
                  <% if (correct) { %>
                    <h1 class="display-3 word-break correct">Correct!</h1>
                  <% } else { %>
                    <h1 class="display-3 word-break wrong">Wrong!</h1>
                  <% } %>
      
                </div>
                <div class="col-lg-4 col-xs-6">
                  <% if (numOfQuestions > 0) { %>
                    <h2 class="display-3 score-h2"><span class="numerator"><%= counter %></span><span class="slash">/</span><span class="denominator"><%= originalNumOfQuestions %></span></h2>
                  <% } else { %>
                    <h2 class="display-3 score-h2"><span class="numerator"><%= counter %></span><span class="slash">/</span><span class="numerator"><%= originalNumOfQuestions %></span></h2>
                  <% } %>
                </div>
              </div>
              <hr class="my-4">
              <% if (correct) { %>
                <h3 class="display-4 word-break answer-h3"><span id="svkWord"><%= svkArray[index] %></span> <span class="white-500">means</span> </h3><h3 class="display-4 word-break answer-h3" id="engWord"><%= engWord %></h3>
                <% if (svkArray.length > 1) { %>
                  <hr class="my-4">
                  <h2 class="text-center white-500">Other Correct Answers:</h2>
                  <% for (var i = 0; i < svkArray.length; i++) { %>
                    <% if (i != index) { %>
                      <h3 class="other-answers"><span id="svkWord"><%= svkArray[i] %></span></h3>
                    <% } %>
                  <% } %>
                <% } %>
              <% } else { %>
                  <h3 class="display-4 word-break answer-h3"><span id="svkWord"><%= svkArray[0] %></span> <span class="white-500">means </span> </h3><h3 class="display-4 word-break answer-h3" id="engWord"><%= engWord %></h3>
                  <% if (svkArray.length > 1) { %>
                    <hr class="my-4">
                    <h2 class="text-center white-500">Other Correct Answers:</h2>
                    <% for (var i = 1; i < svkArray.length; i++) { %>
                      <% if (i != index) { %>
                        <h3 class="other-answers"><span id="svkWord"><%= svkArray[i] %></span></h3>
                      <% } %>
                    <% } %>
                  <% } %>
              <% } %>
              <hr class="my-4">
              <% if (numOfQuestions > 0) { %>
                <a href='/quiz/<%= currentUser.username %>' class="nextPage btn btn-lg btn-outline-info mt-3">Next word</a>
                <% if (currentUser) { %>
                  <a href='/quiz/save' class="nextPage btn btn-lg btn-outline-danger mt-3">Save & Exit</a>
                <% } %>
              <% } else { %>
                <a href='/quiz/save' class="nextPage btn btn-lg btn-outline-success mt-3">Get your results!</a>
              <% } %>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Slovak Lingo 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <% include ../partials/logout-modal %>
    
    <!-- Start Test Modal-->
    <% include ../partials/start-modal %>

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/javascripts/sb-admin.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>

</html>