<!-- Sidebar -->
      <ul class="sidebar navbar-nav toggled">
        <li class="nav-item active">
          <a class="nav-link" href="/users/<%= currentUser.username %>/dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="startTestSidebar" role="dialog" data-toggle="modal" data-target="#startTestModal" aria-haspopup="true" aria-expanded="false">
            <i class="fas far fa-edit fa-fw"></i>
            <span>Start Test</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/flashcards/<%= currentUser.username %>">
            <i class="fas fa-book-open fa-fw"></i>
            <span>Flashcards</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-book"></i>
            <span>Categories</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-header categories-dropdown" href="/users/<%= currentUser.username %>/dashboard/categories">Categories</a>
            <% for(var i = 0; i < categoriesKeys.length; i++ ) { %>
                <a class="dropdown-item" href="/users/<%= currentUser.username %>/dashboard/categories/<%= categoriesKeys[i] %>"><%= categoriesNames[i] %> &nbsp; <i class="fas fa-fw <%= categoryIcons[i] %>"></i></a>
            <% } %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= currentUser.username %>/dashboard/charts">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
          </a>
        </li>
      </ul>